extends structure
block content
  .row
    .col-md-12
      h3 Mode
      select#mode
        option(value="static") Statique
        option(value="random") Aléatoire
  .row
    .col-md-12
      h3 Message
      #modules
