extends structure
block content
  .row
    .col-md-12
      h3 Status
      table.table-bordered.table
        tr
          td 
            b Status
          td#info-status
        tr
          td 
            b Serial
          td#info-serial
        tr
          td 
            b Network
          td#info-network
        tr
          td 
            b Type
          td#info-type
        tr
          td 
            b Mode
          td#info-mode
        tr
          td 
            b Address
          td.info-address
        tr
          td 
            b Position
          td#info-position
