extends structure
block content
  .row
    .col-md-12
      h3 Status
      table.table-bordered.table
        tr
          td 
            b Connexion série
          td#info-serial
        tr
          td 
            b Connexion réseau
          td#info-network
        tr
          td 
            b Mode
          td#info-mode
        tr
          td 
            b Adresse
          td.info-address
        
