ul.nav.nav-tabs
  li(role="presentation", class=page == 'index' ? 'active' : '')
    a(href="/") Module
  li(role="presentation", class=page == 'information' ? 'active' : '')
    a(href="/information") Informations
