html,
body {
  height: 100%;
}
header {
  background-color: #039;
  color: #fff;
}
.nav {
  margin-top: 20px;
}
.nav li a {
  border-radius: 0px;
  color: #fff;
}
.nav li a:hover {
  background-color: transparent;
  border-color: transparent;
  opacity: 0.5;
}
.nav-tabs > li.active > a {
  color: #da291c;
}
section {
  min-height: calc(100% - 155px);
}
footer {
  padding: 5px 0px;
  background-color: #039;
  color: #fff;
  text-align: center;
  font-size: 10px;
}
footer p {
  margin: 0px;
}
select,
input {
  width: 100%;
  height: 26px;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 1px solid #808080;
  outline: 0px;
  padding: 0px 5px;
}
.btn-primary {
  margin-top: 10px;
  margin-bottom: 20px;
}
#modules > div {
  margin-bottom: 15px;
}
#randomVariationLine,
#randomDurationLine {
  display: none;
}
