html, body
  height 100%

header
  background-color #003399
  color white

h1
  margin-top 10px

.nav
  margin-top 0px

  li a
    border-radius 0px
    color white
    padding 5px 10px;

    &:hover
      background-color transparent
      border-color transparent
      opacity .5

.nav-tabs > li.active > a
  color #da291c

section
  min-height calc(100% - 155px)

footer
  position fixed
  bottom 0
  left 0
  width 100%
  padding 5px 0px
  background-color #003399
  color white
  text-align center
  font-size 10px;

  p
    margin 0px

select, input
  width 100%
  height 26px
  -webkit-appearance none
  border-radius 0px
  border 1px solid gray
  outline 0px
  padding 0px 5px

.btn-primary
  margin-top 10px
  margin-bottom 20px

#modules > div
  margin-bottom 15px

#turnVariationLine,
#turnDurationLine,
#randomVariationLine
#randomDurationLine
  display none
